.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #f1eeee;
}

.modalContent {
  margin: 15% auto;
  background-color: #d9fcf9;
  padding: 20px;
  border: 1px solid #d0c9c9;
  width: 30%;
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 15px 20px;
}
